body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.levelbox.active,
.keyboard {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.levelbox,
.keyboard {
  display: none
}

.levelbox .buttonsbox {
  display: flex;
  justify-content: center;
}

.levelbox .buttonsbox .level {

}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 22px;
}

.row.last {
  /*margin-left: -110px;*/
}

.keyboard.active {
  display: flex;
}

.buttonsbox {
  margin-top: 25px;
}

.level,
.keyboard.active .key {
  animation: appear 2.5s;
  border: 4px solid white;
  border-radius: 10px;
  font-size: 24px;
  margin: 0 11px;
  min-width: 80px;
  padding: 36px 10px;
  text-transform: uppercase;
  text-align: center;
  transition: all ease .5s;
}
.level {
  padding: 15px 25px;
  cursor: pointer;
}
.level:hover {
  background-color: white;
  color: black;
}

.key.active {
  background-color: white;
  color: black;
}

.key.active.success {
  background-color: #2ecc71;
  color: white;
  border-color: #2ecc71;
}

.key.active.fail {
  background-color: #e74c3c;
  color: white;
  border-color: #e74c3c;
}

@keyframes appear {
  0% {
    color: black;
    border-color: black;
  }
  100% {
    color: white;
    border-color: white;
  }
}
